@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
      font-family: 'Inconsolata', monospace;
      font-size: 12px;
      background-color: steelblue;

      }

      #name {
        font-family: 'Inconsolata', monospace;
        font-size: 50px;
        color:darkgreen;
        text-align: center;
        background-color: steelblue;
        width: 900px;
        height: 100px;
        margin: 0 auto;
        margin-top: 25px;
}


#about {
  font-family: 'Inconsolata';
  font-size: 20px;
  color: darkgreen;
  text-align: center;

}

#footer{
color: purple;
text-align: center;

}


nav{
  width: 300px;
  margin: 0 auto;
  background-color: steelblue;

}

nav ul{
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

nav ul li a{
  text-decoration: none;
  color: limegreen;
}

nav ul li a:hover{
  color: blue;
}

#container1{
text-align: center;
}
