@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');


body {
      font-family: 'Inconsolata', monospace;
      font-size: 12px;
      background-color: cyan;

      }

      .links{
        text-decoration: none;
        color: yellow;
        font-weight: 900;
      }

      .links:hover{
      color: green;
      text-decoration: underline;
      }


      .hobbies{
        color: red;

      }

    h3{
        color: purple;
        font-weight: bold;
      }

      p{
        color: orange;
      }

      ul{

        list-style: none;
        color: purple;

        }


      #firstname{
        color: orange;
        font-family:'Cedarville Cursive' cursive;
        text-align: center;
      }

      #surname{
      color: orange;
      font-family:'Cedarville Cursive', cursive;
      text-align: center;
    }

      #address{
      color: pink;
    }

      #contactinfo{

      color: yellow;
      font-family: sans-serif;
      font-style: oblique;
}

      #photocaption {
      color: green;
}
