@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

<link rel="stylesheet" href="css/resumestyle.css">


#name {
  text-align: center;
  color: orange ;
  font-family:'Cedarville Cursive', cursive;

}

body {
      font-family: 'Inconsolata', monospace;
      font-size: 12px;
      background-color: cyan;

      }

      .links{
        text-decoration: none;
        color: purple;
        font-weight: 900;
      }

      .links:hover{
      color: orange;
      text-decoration: underline;
      }

      h3{
        color: green;
        font-weight: bold;
      }

      ul li{
        list-style: none;

        }
