@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Bungee|Faster+One');

body {
      background-color: mediumpurple;
      }

      #name {
        font-family: 'Faster One', cursive;
        font-size: 45px;
        color:orange;
        text-align: center;
        width: 900px;
        height: 100px;
        margin: 0 auto;
        margin-top: 25px;
}


#info {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;

}

nav{
  width: 700px;
  margin: 0 auto;
  background-color: mediumpurple;
  text-align: center;
  font-family: 'Bungee', cursive;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a{
  text-decoration: none;
  color: orange;
  font-size: 15px
}

nav ul li a:hover{
  color: lightcyan;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

#info {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.grid-item{

border-style: double;
border-width: 5px;
border-color: orange;
font-size: 20px;
font-family: 'Alegreya Sans SC', sans-serif;
color: white;
text-align: center;
}

.grid{

  display: grid;
  grid-template-columns: 450px 450px 450px;
  grid-gap: 20px;
  width: 100%;
  height: 500px;
  grid-gap: 0.5em;
  justify-content: center;
}

.lineup {

  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 475px 475px;
  width: auto;
  height: 1000px;
  grid-column-gap: 0.5em;
  justify-content: center;

}

.lineup2{

background-color: mediumpurple;
border-style: double;
border-width: 5px;
border-color: orange;
font-size: 20px;
font-family: 'Alegreya Sans SC', sans-serif;
color: white;
text-align: center;
}


.fashion{

  display: grid;
  grid-template-columns: 330px 330px 330px 330px;
  grid-template-rows: 450px 450px;
  grid-gap: 20px;
  width: 100%;
  height: auto;
  grid-gap: 0.5em;
  justify-content: center;

}

.fashionlist{

background-color: mediumpurple;
border-style: double;
border-width: 5px;
border-color: orange;
font-size: 20px;
font-family: 'Alegreya Sans SC', sans-serif;
color: white;
text-align: center;
}

.question{

background-color: mediumpurple;
border-style: double;
border-width: 5px;
border-color: orange;
font-size: 15px;
font-family: 'Alegreya Sans SC', sans-serif;
color: white;
text-align: left;

}

.FAQ {

  display: grid;
  grid-template-columns: 1350px;
  grid-template-rows: 500px 500px 500px 500px 500px 500px;
  grid-gap: 20px;
  width: 100%;
  height: 500px;
  grid-gap: 0.5em;
  justify-content: center;

}
